<?xml version="1.0"?>

<configuration>
	<appSettings>

		<!-- MS Access example (OleDb): -->
		<add key="ConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=C:\Rot\hl7_100_20231104_custom.mdb;" />
		<add key="DatabaseProvider" value="OleDb" />

		<!-- SQLite example:
		<add key="ConnectionString" value="Data Source=C:\Rot\hl7_100_20231104_custom.db;" />
		<add key="DatabaseProvider" value="Sqlite" />
		-->

		<add key="UseFactory" value="false" />
	</appSettings>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
</configuration>